<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
 
<connectionStrings><add name="DBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=K218PC6\KLI;initial catalog=KonditerskayaDB;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="DBEntities1" connectionString="metadata=res://*/Resources.DataFolder.ModelDB.csdl|res://*/Resources.DataFolder.ModelDB.ssdl|res://*/Resources.DataFolder.ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=K218PC6\KLI;initial catalog=KonditerskayaDB;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>